<div class="containerall">
  <div class="row">
    <div class ="links col-md-4">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Raise a ticket</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Troubleshooting</a></li>
        <li><a href="#">Complaints</a></li>
        <li><a href="#">Report a bug</a></li>
      </ul>
    </div>
    <div class="links col-md-4">
      <h4>About us</h4>
      <ul>
        <li><a href="#">Core Team</a></li>
        <li><a href="#">Why E-vent</a></li>
        <li><a href="#">Stretch goals</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Tell us what you think</a></li>
      </ul>
    </div>
    <div class="links col-md-4">
      <h4>Useful links</h4>
      <ul>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Rate us</a></li>
        <li><a href="#">Write us a review</a></li>
        <li><a href="#">Share</a></li>
        <li><a href="#">Investment</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="socialMedia">
        <%= link_to root_path, class: "smlinks" do %>
            <i class="fab fa-facebook"></i>
        <% end %>
        <%= link_to root_path, class: "smlinks" do %>
            <i class="fab fa-linkedin"></i>
        <% end %>
        <%= link_to root_path, class: "smlinks" do %>
            <i class="fab fa-twitter-square"></i>
        <% end %>
        <%= link_to root_path, class: "smlinks" do %>
            <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to root_path, class: "smlinks" do %>
            <i class="fab fa-github-square"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
