<div class="container">
<h2>Your upcoming E-meets</h2>
  <div class="row">
    <% @user.attendances.each do |attendance| %>
      <div class="col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/<%= rand(1900..1920) %>/1080/?random');">
          <div class="card-body">
            <h4 class="card-title"><%= attendance.meetup.location %></h4>
            <p class="card-description"><%= attendance.meetup.game %></p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <p class="price">£<%= attendance.meetup.price %></p>
          </div>
          <%= link_to attendance_path(attendance.id) do %>
            <div class="link"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
