<div class= "background-attendance-image attendance-page">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Attendance confirmation</h2>
      </div>
    </div>



    <div class="row">

      <div class="col-md-4 col-md-offset-2">
        <div class="details">
         <h3>Details:</h3>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-trophy"></i><span id="event-details-list"><%= @attendance.meetup.location %></span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-location-arrow"><span id="event-details-list"></i><%= @attendance.meetup.date %></span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-table"></i><span id="event-details-list"><%= @attendance.meetup.game %></span>
          </li>
          <li class="list-group-item">
            <i class="fas fa-users"></i><span id="event-details-list"><%= @attendance.meetup.price %></span>
          </li>
        </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="people_attending">
          <h3>People attending</h3>
          <ul class="list-group list-group-flush">
            <% @attendance.meetup.attendances.each do |attendance| %>
            <li class="list-group-item">
            <i class="fas fa-users"></i><span id="event-details-list"><%= @attendance.user.username %></span>
          </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

 <div style="display: flex;justify-content: space-around;">
  <a href="/" class="myButton">Home</a>

</div>
  </div>






</div>
