<div class="container">
	<div class="col-md-4 col-md-offset-2">
		<h2>Attendance confirmation</h2>
		<ul>
			<li>Location - <%= @attendance.meetup.location %></li>
			<li>Date - <%= @attendance.meetup.date %></li>
			<li>Game - <%= @attendance.meetup.game %></li>
			<li>£<%= @attendance.meetup.price %></li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>People attending</h3>
		<ul>
			<% @attendance.meetup.attendances.each do |attendance| %>
				<li><%= attendance.user.username %></li>
        <%= raise %>
			<% end %>
		</ul>
	</div>
</div>
